<div class= ".container text-light">
<h2> <%= @item.title %> Profile </h2>
<%= image_tag @item.picture, size: '250' if @item.picture.attached? %>

<div class="text-center">
<p> These <%= @item.title %> have these qualities: 
<br>
<% if @item.organic == true %>
<li> organic
<% else %>
<li> non-organic
<% end %>
<% if @item.spray_free == true %>
<li> spray-free
<% else %>
<li> sprayed
<% end %>
<% if @item.gluten_free == true %>
<li> gluten-free
<% else %>
<li> contains gluten
<% end %>
</p>
</div>
<br>
------------------
<br>
<p>
Description:
<br>
<%= @item.description %>
</p>
------------------
<br>
<br>
Available After:
<%= @item.harvest_time%>
<br><br>
Cost:
<%= @item.price%>
<br><br>
</div>
<div>
    <h4> Reviews: </h4>
    <%= link_to 'Add Review', new_review_path(item: @item), class:"btn btn-primary" %>
    <br>
    -----------------------------
        <% if @reviews %>
            <% @reviews.each do |review| %>
                <p class='rating'><%= "Rating: #{review.rating}"%>
                <p><%= review.user.email %></p>
                <p><%= review.comment %> </p>
                -----------------------------
                <%end%>
            <%end%>
</div>

