<nav class="col-2 border-right border-success text-light">
    <h3>Menu </h3>
    <p><button type="button" class="btn btn-secondary"><%= link_to "Home", root_path %></button></p>
    <p><button type="button" class="btn btn-success"><%= link_to "Buy", shop_path %></button></p>
    <p><button type="button" class="btn btn-danger"><%= link_to "Sell", sell_path %></button></p>
    <p><button type="button" class="btn btn-warning"><%= link_to "Host", root_path %></button></p>
    <p><button type="button" class="btn btn-light"><%= link_to "Cooperate", root_path %></button></p>

</nav>